:root{
    --branco-principal: #ffffff;
    --cinza-secundario:#c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo:#00030c ;
}
*{
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height:100vh ;
}

.container__botao{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;

    width: 512px;
    height: 56px;

    background: #167BF7;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

